
**/*.ts
**/*.map
**/tsconfig.json
**/*.swp
**/package.json
**/package-lock.json
.vscode
**/*.gifcask
.eslintignore
.gitignore
Makefile
scripts/*
*.md
!README.md

client/**
!client/out/*.js
!client/aesophia.configuration.json
!client/syntaxes/aesophia.json

server/**
!server/out/*.js


